In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import sqlite3

In [2]:
page = requests.get('https://www.cricbuzz.com/cricket-series/2697/icc-cricket-world-cup-2019/matches')

In [3]:
cricPage = BeautifulSoup(page.content, 'html.parser')

In [4]:
resultTable = cricPage.find_all(class_ = 'cb-text-complete')

In [16]:
resultList = []

for match in resultTable:
    row = list(match.children)[0]
        
    if 'won' in row:
        resultDict = {}
        textSplit = row.split("won")
        resultDict['Result'] = textSplit[0].rstrip()
        resultList.append(resultDict)
        
    elif 'abandoned' or 'No result' in row:
        resultDict = {}
        resultDict['Result'] = 'NR'
        resultList.append(resultDict)

In [17]:
df = pd.DataFrame(resultList)

In [19]:
df[10:]

          Result
10            NR
11       England
12   New Zealand
13         India
14            NR
15            NR
16     Australia
17            NR
18       England
19     Australia
20  South Africa
21         India
22    Bangladesh
23       England
24   New Zealand
25     Australia
26     Sri Lanka
27         India
28   New Zealand
29      Pakistan
30    Bangladesh
31     Australia
32      Pakistan
33         India
34  South Africa
35      Pakistan
36     Australia
37       England

In [20]:
updated_results = df[10:].reset_index(drop =True)

In [21]:
updated_results

          Result
0             NR
1        England
2    New Zealand
3          India
4             NR
5             NR
6      Australia
7             NR
8        England
9      Australia
10  South Africa
11         India
12    Bangladesh
13       England
14   New Zealand
15     Australia
16     Sri Lanka
17         India
18   New Zealand
19      Pakistan
20    Bangladesh
21     Australia
22      Pakistan
23         India
24  South Africa
25      Pakistan
26     Australia
27       England

In [22]:
conn = sqlite3.connect('../database/results.sqlite')

In [23]:
updated_results.to_sql("results", conn, if_exists= 'replace', index = False)

In [24]:
conn.close()