In [45]:
import requests
import bs4
from bs4 import BeautifulSoup

In [46]:
page = requests.get('https://www.standard.co.uk/sport/cricket/cricket-world-cup-2019-results-and-standings-full-table-for-tournament-group-stage-a4174011.html')

In [47]:
cricPage = BeautifulSoup(page.content, 'html.parser')

In [48]:
resultTable = cricPage.find_all('table')[1].find_all('tr')

In [59]:
resultList = []

for match in resultTable:
    row = list(match.children)
    resultStr = list(row[1].children)
    dateStr= list(row[3].children)
    if type(resultStr[0]) == bs4.element.Tag:
        resultText = resultStr[0].get_text()       
    else:
        resultText = resultStr[0]
        
    resultDict = {}
        
    if type(dateStr[0]) == bs4.element.Tag:
        dateText = dateStr[0].get_text()
    else:
        dateText = dateStr[0]
        resultDict[]
    

    if 'bt' in resultText:
        textSplit = resultText.split(" ")

May 30
May 31
June 1
June 1
June 2
June 3
June 4
June 5
June 5
June 6
June 7
June 8
June 8
June 9
June 10
June 11
June 12
June 13
June 14
June 15
June 15
June 16
June 17
June 18
June 19
June 20
June 21
June 22
June 22
June 23
June 24
June 25
June 26
June 27
June 28
June 29
June 29
June 30
July 1
July 2
July 3
July 4
July 5
July 6
July 6
July 9
July 11
July 14

In [27]:
row = list(resultTable[0].children)

In [29]:
column1 = list(row[1].children)

In [41]:
tag = type(column1[0])

In [42]:
type(tag)

type

In [33]:
column1[0].get_text()

'England bt South Africa by 104 runs'

In [43]:
type("sk")

str

In [54]:
'bt' in 'India bt Afghanistan by 11 runs'

True